.travel-item {
  display: flex;
  border: 1px  solid black;
  border-radius: 15px;
  width: 450px;
  height: 45px;
  margin-bottom: 8px;
}

.departure {
  line-height: 45px;
  margin-left: 20px;
  margin-right: 20px;
}

.destination {
  line-height: 46px;
}
